// Bootstrap overrides
@import "web-fonts";

$fonts_url: web-fonts-url("Open Sans", "Inconsolata", "Oswald");
@import url($fonts_url);

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$text-color: $gray-dark;

$navbar-default-bg: transparent;
$navbar-default-color: $text-color;
$navbar-default-link-hover-color: $navbar-default-color;
$navbar-default-link-color: $navbar-default-color;

$nav-link-hover-bg: $navbar-default-bg;

$font-family-sans-serif: "Open Sans";
$font-family-monospace: "Inconsolata";

$icon-font-path: "../assets/node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "normalize";
@import "bootstrap";

// Custom settings

body {
  min-width: 200px;
  width: auto !important;
  width: 200px;
}

.carousel {
  height: 500px;
  margin-bottom: 0px;

  .item {
    height: 500px;
    background-color: #777;
  }

  .carousel-caption {
    z-index: 10;
  }

  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: none;
    height: 500px;
  }

}

.navbar {

  font-family: "Open Sans";
  margin-bottom: 0px;

  a {
    color: $navbar-default-link-color;
  }

  .glyphicon-cloud {
    top: -5px;
    font-size: xx-large;
  }

}

