<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{>default.css}}
    {{>font-awesome.css}}
</head>

<body class="container-fluid">
    {{#block "header"}}
        {{>navbar}}
    {{/block}}


    {{#block "main"}}
        {{>carousel}}
    {{/block}}

    {{#block "footer"}}
        {{>footer}}
    {{/block}}
{{>bootstrap.js}}
{{>html5shiv.js}}
</body>
</html>